.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.search {
    margin-top: 40px;
    font-size: 16px;
    text-align: left;
    width: 900px;
}

.search input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 5px;
}